.periodicTableContainer {
    padding: 2rem;
}

.infoContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.section {
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #f8f8f8;
}


.legendContainer {
    gap: 2rem;
    margin-bottom: 2rem;
}

.legend {
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: column;
}

.periodicTableTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.selectedElementContainer {
    display: flex;
    max-width: 30rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.selectedElementBox {
    flex: 1;
}

.selectedElementBox h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.selectedElementJustification {
    font-size: 1rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .selectedElementContainer {
        flex-direction: column;
        align-items: center;
    }

    .selectedElementBox {
        text-align: center;
    }
}
