.blurred {
    -webkit-filter: blur(1.5rem);
    -moz-filter: blur(1.5rem);
    -o-filter: blur(1.5rem);
    -ms-filter: blur(1.5rem);
    filter: blur(1.5rem);
}

.unblurred {
    transition: all 100ms linear;
}