.mainBox {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 1rem;
    gap: 2rem;
    padding: 1rem;
}

.crossword {
    width: 25rem;
}

.clues {
    max-width: 17rem;
}

.title {
    margin: 0 1rem;
}
.title h1 {
    font-size: 1.75rem;
}