
.newTitle {
    margin: 1rem 0;
    font-size: x-large;
    letter-spacing: 0.4em;
    font-family: monospace;

    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.successTitle {
    background-color: rgb(244, 255, 245);
}