.letterBox{
    display:flex;
    align-items: center;
    justify-content: safe center;
}
.doublePanel{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.leftColumn{
    width: 100%;
    flex-grow: 2;
}
.rightColumn{
    flex-grow: 1;
}
.buttonBox{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}

.errorBox {
    max-width: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #A95777;
    padding: 1rem;
    color: white;
}
.xButtonBox{
    width: 2rem;
    display: flex;
    align-items: center;
}
.xButtonBox span {
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    color: #880000;
}