.letterBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: safe center;
}

.doublePanel {
    display: flex;
    justify-content: space-around;
}

.leftColumn {
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightColumn {
    flex-grow: 1;
}

.buttonBox {
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}

.buttonBox button {
    max-height: 2.5rem;
}

.resultBox {
    max-width: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    color: white;
}

.errorBox {
    background-color: #A95777;
}

.successBox {
    background-color: #377a30;
}

.successText span {
    font-weight: 600;
}

.xButtonBox {
    width: 1rem;
    display: flex;
    align-items: flex-start;
}

.xButtonBox span {
    font-size: 1rem;
    color: #880000;
}
.onScreenKeyboard {
    margin-top: 1rem;
}