.guessBox {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 4rem;
}

.guessBox button {
    margin: 1rem 1rem;
}

.boardBox {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.difficultyAndWhomToMove {
    width: 100%;
    justify-content: space-around;
    display:flex;
    flex-wrap: wrap-reverse;
}

.whomToMove {
    padding: 0.5rem;
}

.boardAndEval {
    display: flex;
    flex-direction: row;
}

.thingToMakeBoardSymmetrical {
    width: 2rem;
    height: 100%;
}

.invisibleEval {
    visibility: hidden;
}

.visibleEval {
    opacity: 1;
    transition: all 300ms ease-in;
}

.hiddenButton, .hiddenButton:disabled {
    opacity: 0;
    transition: all 300ms ease-in;
}

.visibleButton {
    opacity: 1;
    transition: all 300ms ease-in;
}