.guessBox {
    display: flex;
    justify-content: space-around;
}
.guessBox button {
    margin: 1rem 3rem;
}
.boardBox {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.boardAndEval {
    display: flex;
    flex-direction: row;
}

.invisibleEval {
    opacity: 0;
}

.visibleEval {
    opacity: 1;
    transition: all 300ms ease-in;
}

.hiddenButton {
    opacity: 0;
    transition: all 300ms ease-in;
}

.visibleButton {
    opacity: 1;
    transition: all 300ms ease-in;
}