.faqHeading {
    font-size: larger;
    font-weight: 600;
}
.slackBotBox {
    display: flex;
    background-color: rgb(255, 254, 241);
    padding: 1rem 0;
    border-radius: 1rem;
    margin: 1rem 0;
    box-shadow: 1px 2px 1.5rem 1px #00000015;
    flex-wrap: ;
    width: fit-content;
}
.slackBotDescBox {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    min-width: 6rem;
}
.slackBotBox div {
    margin: 0 1rem;
}
.slackAvatar {
    flex-shrink: 0;
    border-radius: 1rem;
    height: min-content;
    background-color: #1040c5;
    overflow: hidden;
    display: flex;
    margin: 0rem;
}
.slackBotBox h1 {
    font-size: 1.5rem;
}
.mainBox h2 {
    font-size: 1.5rem;
}
.slackBotBox p {
    color: #535353;
}
.slackButtonLink:hover{
    text-decoration: none;
}
.slackButtonLink{
    display: block;
    width: fit-content;
}
.slackButton {
    width: 10rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 1rem 1px #00000019;
    padding: 0.5rem 1rem;
    border-radius: 0.9rem;
    border: 1px solid #3334;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.slackButton {
    font-weight: 600;
    color: #2b2b2b;
    text-decoration: none;
}
.slackButton:hover {
    color: #2b2b2b;
    text-decoration: none;
}
.slackButtonIcon {
}
.mainBox {
    padding: 0 2rem;
}

.codeSpan {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: #ebebeb;
    color: rgb(34, 80, 4);
    padding: 0.2rem 0.4rem;
}