.feedbackBox {
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: rgb(243, 243, 243);
    transition: all 300ms ease-in;
}

.resultsBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyFenBox {
    padding: 1rem;
}

.resultsBox * {
    margin: 0 0.5rem;
}

.fenBox {
    font-size: x-small;
}

.copyFen {
    font-size: xx-small;
}

.correctAnswer {
    font-weight: bold;
    color: rgb(13, 179, 35)
}

.incorrectAnswer {
    color: rgb(224, 17, 17)
}

.chessDotComLink {
    font-size: small;
    text-decoration: underline;
    margin: 0 1rem 0 0;
}

.streakBox {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageAndStreakText {
    font-size: medium;
}

.streakText {
    margin: 0 0.5rem;
}

.streakOne {
    color:rgb(55, 187, 29)
}

.streakTwo {
    color:rgb(243, 159, 2)}

.streakThree {
    font-weight: bold;
    color:rgb(247, 92, 3)
}